---
import Layout from "../layouts/layout.astro";
import Error from "../components/error/error-content.astro";
---

<Layout
  title="Not found - Woke"
  description="Open source config manager"
  card="https://woke.build/woke.png"
  url="https://woke.build/error"
>
  <div class="relative overflow-hidden">
    <Error />
  </div>
</Layout>

<style></style>
